{% extends base_template %}


{% block check_link_breadcrumb %}
    {{ super() }}
    <li class="active">
        {{ _("Global") }}
    </li>
{% endblock %}


{% block check_link_content %}

    <div class="check-link-reports">
        
        <strong>{{ "{0} unavailable resource{1} found".format(page.item_count, "s" if page.item_count != 1 else "" ) }}</strong>
        {% for report in page %}
            <div class="check-link-reports--item">
                {% include "check_link/snippets/report_item.html" %}
            </div>
        {% else %}
            <p class="text-center text-muted">
                {{ _("At the moment there are no available reports") }}
            </p>
        {% endfor %}
    </div>
    {% block check_link_pagination %}
        {{ page.pager() }}
    {% endblock %}
{% endblock check_link_content %}



{% block check_link_help_text %}

{% snippet 'check_link/snippets/report_overview.html' %}

{% endblock check_link_help_text %}
